<!DOCTYPE html>
<html lang="en">
<head>
<title>Coin Jar App</title>
<script src="js/shared/angular.min.js"></script>
  
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body ng-app="coinJar">
<div id="wrapper">
    <div id="jarApp" ng-controller="MainController">
        <h1 id="title">{{title}}</h1>
        <div id="lid-block">
	        <div class="lid"></div>
	        <div class="lid"></div>
	        <div class="lid"></div> 
        </div>

        <div id="jar">
	        <div id="nickel-container" class="container">
		        <div class="label">
		        <p>Nickels</p>
		        </div>
		        <p id="nickel-count">{{nickels}}</p>
		        <div id="nickel-down" class="button down" ng-click="nickelDown()">-</div>
		        <div id="nickel-up" class="button up" ng-click="nickelUp()">+</div>
	        </div>
	
	        <div id="dime-container" class="container">
		        <div class="label">
		        <p>Dimes</p>
		        </div>
		        <p id="dime-count">{{dimes}}</p>
		        <div id="dime-down" class="button down" ng-click="dimeDown()">-</div>
		        <div id="dime-up" class="button up" ng-click="dimeUp()">+</div>
	        </div>
	
	        <div id="quarter-container" class="container">
		        <div class="label">
		        <p>Quarters</p>
		        </div>
		        <p id="quarter-count">{{quarters}}</p>
		        <div id="quarter-down" class="button down" ng-click="quarterDown()">-</div>
		        <div id="quarter-up" class="button up" ng-click="quarterUp()">+</div>
	        </div>
        </div>

        <div id="total">
            <p>Total: ${{total}}</p>
        </div>
    </div>
</div>
    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>  

</body>
</html>
